.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../assets/images/794593.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.spacer {
    height: 20vh;
}

.coin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
