.headerContainer {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
}

.links {
  display: flex;
  color: grey;
  justify-content: space-around;
  padding: 10px;
  gap: 50px;
  cursor: pointer;
}
.links h2 {
  margin-right: 20px;
}
