.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0; 
    p
  }
  
  .logo {
    font-size: 24px;
    color: #007bff;
  }
  
  .links {
    display: flex;
  }
  
  .links h3 {
    margin-right: 20px;
    cursor: pointer;
    color:grey
  }
  
  /* Stilizuj hiperlinkove prema potrebi */
  .links h3:hover {
    color: #007bff;
    text-decoration: underline;
  }