.footer {
    background-color:grey;
    color:darkgray;
    padding: 40px 20px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-section {
    max-width: 300px;
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .footer-section h3 {
    color:darkgray;
  }
  
  .footer-section p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section li {
    margin-bottom: 8px;
  }
  
  .footer-section a {
    color:darkgray;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-section a:hover {
    color:darkgray;
  }